<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.rasen.charsoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="@string/google_maps_key" />

    <application
        android:name=".classes.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTestUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusiness"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityEntrance_used_for_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUserRegister"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUserSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessContactInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityProfileUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ActivityMapChoose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMapDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRegisterBusiness_ViewPager_not_used"
            android:theme="@style/CustomActionBarTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessRegisterEdit"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessWorkTime"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ActivityPostAddEdit"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCommentsNotifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessBlockedUsers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessFollowers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityComments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ActivityUserFollowingBusinesses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUserFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUserFriendRequests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySearchUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySearchBusinessResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySearchPostResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUserReviews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessReviews"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ActivityUserBusinesses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUserOther"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBusinessOther"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMain2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityProfilePicture"
            android:screenOrientation="portrait" />


        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".helper.AlarmReciever" />

    </application>

</manifest>
